{% include "base.html" %}

<style>
    @import url(http://fonts.googleapis.com/css?family=Lato:400,700);

    .profile
    {
        min-height: 355px;
        display: inline-block;
        }
    figcaption.ratings
    {
        margin-top:20px;
        }
    figcaption.ratings a
    {
        color:#f1c40f;
        font-size:11px;
        }
    figcaption.ratings a:hover
    {
        color:#f39c12;
        text-decoration:none;
        }
    .divider
    {
        border-top:1px solid rgba(0,0,0,0.1);
        }
    .emphasis
    {
        border-top: 4px solid transparent;
        }
    .emphasis:hover
    {
        border-top: 4px solid #1abc9c;
        }
    .emphasis h2
    {
        margin-bottom:0;
        }
    span.tags
    {
        background: #1abc9c;
        border-radius: 2px;
        color: #f5f5f5;
        font-weight: bold;
        padding: 2px 4px;
        }
    .dropdown-menu
    {
        background-color: #34495e;
        box-shadow: none;
        -webkit-box-shadow: none;
        width: 250px;
        margin-left: -125px;
        left: 50%;
        }
    .dropdown-menu .divider
    {
        background:none;
        }
    .dropdown-menu>li>a
    {
        color:#f5f5f5;
        }
    .dropup .dropdown-menu
    {
        margin-bottom:10px;
        }
    .dropup .dropdown-menu:before
    {
        content: "";
        border-top: 10px solid #34495e;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
        z-index: 10;
        }

</style>

<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile" style="width: 100%">
                <div>
                    <h2>{{ user.staff.loginid }}</h2>
                    <h3>{{ user.staff.name }}</h3>
                    <p><strong>Competency: </strong> {{ user.staff.competency }} </p>
                    <p><strong>Job Level: </strong> {{ user.staff.staff }} </p>
                    <p><strong>Address: </strong> {{ user.staff.address }}</p>
                    <p><strong>Joining Date: </strong> {{ user.staff.start_date }}</p>
                </div>

            <hr>

                <form>
                    <div>
                        <h4><div class="form-group">
                                <input type="text" class="form-control" placeholder="New LoginId">
                            </div>
                        </h4>
                    </div>

                    <div>
                        <h4><div class="form-group">
                                <input type="text" class="form-control" placeholder="Update Name">
                            </div>
                        </h4>
                    </div>

                     <div>
                            <h4><div class="form-group">
                                    <input type="text" class="form-control" placeholder="Change Address">
                                </div>
                            </h4>
                     </div>

                    <div align="center">
                      <button type="button" class="btn btn-warning">
                        <span class="glyphicon glyphicon-edit"></span> Update Profile
                      </button>
                  </div>

                </form>


    	 </div>
		</div>
	</div>
</div>
