{% include "base.html" %}
{% load static %}
<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    margin: 15px;
  }

  .card:hover {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 2px 16px;
  }
</style>


{% block content %}
<div class="container">

  <div class="page-header">
    <h3>Projects</h3>
  </div>
  {% if user.is_authenticated %}
  
  <div class="row grid-divider">
    {% for project in all_projects %}
    <div class="col-sm-4 card">
      <div class="col-padding">

        <div>
            <a href = "{% url 'projects:task' project.id %}">
                <h4>{{project.project_name}}</h4>
            </a>
        </div>

        <div>
          <h5>Start Date</h5>
        </div>

        <a href="#myModal" data-toggle="modal">Show Project Assets</a>

        <div align="right">
          <span>Assigned to <strong>You, Ireen</strong></span>
        </div>

        <div align="right">
          <h5>End Date</h5>
        </div>

        <div class="alert alert-info">
          <strong>Status, </strong> Project is in-progress.
        </div>

      </div>

    </div>

    {% endfor %}
  </div>
  {% else %}
  <p>Please login to view projects</p>
  {% endif %}
</div>
{% endblock %}
